<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    </script>
    <title>Coding with Coda Array by @sweetvanloan</title>
</head>

<body>
    <nav>
        <div>
            <a href="/">Coding with Coda Array</a>
            <ul>
                <% if (user) { %>
                    <a href="/logout">Logout </a>
                    <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="content-inside">
            <header>
                <div class="header">
                </div>
            </header>


            <div>
                <a href="/">Coding with Coda Array</a>
                <h3>
                    <% if (user) { %>
                        <h2>Welcome,
                            <%= user.name%>
                        </h2>
                        <form action="/journals/" method="Post">
                            <select name="language">
                            <option value="Ruby">Ruby</option>
                            <option value="JavaScriptC#">JavaScriptC#</option>
                            <option value="C#">C#</option>
                            <option value="C++">C++</option>
                            <option value="Python">Python</option>
                            <option value="Java">Java</option>
                            <option value="Swift">Swift</option>
                            <option value="PHP">PHP</option>
                            <option value="Perl">Perl</option>
                            <option value="Go">Go</option>
                        </select>
                            <select name="level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                            <input type="submit" value="Add Skill" name="skill">
                        </form>



                        <h2>Your Journal</h2>
                        <form action="/journals/" method="Post">
                            <input type="text" name="entry">
                            <button type="submit">Add Entry</button>
                        </form>


                        <div class="userJournal">
                            <% user.journal.forEach(function(item) { %>

                                <h5>
                                    <%= user.name%>'s Entry</h5>

                                <form action="/journals/<%= item._id %>?_method=DELETE" method="post">

                                    <button type="submit">DELETE</button>
                                </form>


                                <!-- <form action="/journals/?" method="put"> -->
                                <!-- <a href="/journals/edit">
                                    <button>Edit</button>
                                </a> -->
                                <!-- </form> -->

                                <form action="/journals/edit/<%= item._id %>" method="GET">
                                    <button type="submit">Edit</button>
                                </form>


                                <p>
                                    <%= item.entry %>
                                </p>
                                <% }) %>
                        </div>



                        <!-- Can we place the user's image via URL? -->
                        <% } else { %>
                            <h2>You are not currently logged in</h2>
                            <a href="/auth/google">Login with Google</a>
                            <h5>
                                <!-- user journal when not logged in -->
                            </h5>
                            <% } %>
                </h3>
            </div>




            <button><a href="/journals/">See Entries</a></button>
            <button><a href="/">Return Home</a></button>
        </div>
    </div>


    <div class="pageBottom">
        <div class="socialButtons">
            <a href="https://www.facebook.com/CodingWithCoda/" id="facebook" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Facebook</span></a>
            <a href="https://twitter.com/CodingWithCoda" id="twitter" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Twitter</span></a>
            <a href="https://github.com/sweetvanloan" id="github" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Github</span></a>
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/sweetvanloan"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a Coffee"><span style="margin-left:5px;font-size:28px !important;">Buy me a Coffee</span></a>
            <a id="dev" class="link" href="https://dev.to/sweetvanloan">
                <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Sweet Van Loan's DEV Profile" height="34" width="35">
            </a>
            </span>
        </div>


        <footer>
            <div class="ground"></div>
            <div class="footer">
                <p class="footLinks">Share to Twitter</p>
                <p class="footLinks">Tweet to Coda</p>
                <p class="footLinks">Share to Facebook</p>
                <p class="specialThanks">Special Thanks:</p>
                <p class="sweetDev">Cheif Developer: Sweet Van Loan</p>
            </div>

        </footer>
    </div>

</body>

</html>